body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

#group-selection {
    margin-bottom: 20px;
}

#group-selection h2 {
    margin-bottom: 10px;
    color: #333;
}

#groupSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#startQuiz {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#startQuiz:hover {
    background-color: #0056b3;
}

#flashcard {
    padding: 20px;
    border-radius: 18px;
}

#group {
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
}

#definition {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: #555;
}

#correctWord {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(250, 250, 250);
}

#example {
    font-size: 17px;
    margin-top: 30px;
    font-style: italic;
    color: #555;
}

#progress {
    margin-top: 50px;
    font-size: 18px;
    color: #777;
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#userInput {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}