body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

#group-selection {
    margin-bottom: 20px;
}

#group-selection h2 {
    margin-bottom: 10px;
    color: #333;
}

#groupSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

#startQuiz {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startQuiz:hover {
    background-color: #0056b3;
}

#flashcard {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#group {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

#definition {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color: #444;
}

#correctWord {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #dc3545;
}

#example {
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

#progress {
    margin-top: 40px;
    font-size: 18px;
    color: #777;
}

#scoreContainer {
    display: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#finishButtons {
    display: none;
    margin-top: 20px;
}

#nextGroup,
#quitQuiz {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

#nextGroup {
    background-color: #28a745;
    color: white;
}

#nextGroup:hover {
    background-color: #218838;
}

#quitQuiz {
    background-color: #dc3545;
    color: white;
}

#quitQuiz:hover {
    background-color: #c82333;
}

#incorrectWordsContainer {
    display: none;
    margin-top: 20px;
    text-align: left;
}

#incorrectWords {
    list-style-type: none;
    padding: 0;
    color: #dc3545;
}

#incorrectWords li {
    margin-bottom: 10px;
    font-size: 16px;
}

#userInput {
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}